# Entorno virtual de Python
venv/
.venv/

# Archivo de variables de entorno (contiene secretos!)
.env

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de configuración de IDEs
.idea/
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db